table {
    margin: 0 auto;
    background: #ffffff;
}
table, th, td {
    border: 1px solid #000000;
    padding: 1em;
}
ul {
    list-style-type: none;
}
.word {
    display: inline-block;
    border: 1px solid #000000;
    padding: 1em;
    margin: 1em;
    background: #ffffff;
}
section {
    background: #23a1ba;
    padding: 1em;
    margin: 1em;
    border-radius:5px;
}